.form-container {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    height: 450px;
    max-width: 390px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(147, 30, 30, 0.729);
}

h1 {

    color: #ff7f94;
    font-family: Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.628);
}

hr {

    margin: 10px 0 40px 0;
    border: none;
    border-bottom: 1px solid #ccc;
}

.input-label {

    display: block;
    width: 85%;
    margin: auto;
    color: rgb(116, 99, 99);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-input {

    display: block;
    font-size: 14px;
    width: 85%;
    height: 32px;
    margin: 0 auto 25px auto;
    padding-left: 5px;
    border: 1px solid #FFC0CB;
    border-radius: 5px;
    outline: none;
    caret-color: #ff8080;
}

.form-input::placeholder {

/* Light color */
    color: #858585;
}

.form-button {

    display: block;
    width: 85%;
    height: 30px;
    margin: 40px auto 0 auto;
    border: none;
    border-radius: 5px;
    background: #ff7a90;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 1px 1px rgba(147, 30, 30, 0.921);
}

.register-text {

    display: block;
    width: 100%;
    margin: 15px 0 auto;
    text-align: center;
    color: #929292;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.register-link {

    color: #ff91a3;
}